/** {
  cursor: url('https://cdn.cursors-4u.net/css-previews/animated-blue-pencil-ef95ca17-css.webp') 0 0, auto !important;
}*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
main {
  width: 80vw;
  height: 65vh;
  background-color: #12c4e4;
  text-align: center;
  font-weight: bold;
  color: black;
  border: solid, black, 3px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 6px 0px 0px black;
  max-width: 1500px;
}

h1 {
  font-size: clamp(38px, 5vw, 48px);
  & a {
    color: transparent;
    text-decoration: none;
    background: linear-gradient(60deg, black 70%, #707070 80%, black 90%);
    background-clip: text;
    background-position: 60% 0%;
    background-size: 300% 100%;
    animation-name: glow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.6, 0, 1);
    animation-delay: 2s;
  }
}
@keyframes glow {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200%;
  }
}

@media screen and (width < 530px) {
  h1 a {
    display: block;
  }
}

#start {
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  width: 160px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 70px;
  user-select: none;
  transition: 0.4s;
  padding: 0px;
  box-sizing: content-box;
  cursor: pointer;
}
#start:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 16px 14px #ffffff7a;
}

.kerdes {
  background-color: white;
  width: 90vw;
  height: 35vh;
  margin: auto;
  border: solid, black, 2px;
  border-radius: 15px;
  margin-top: 25px;
  font-weight: bold;
}
.valasz {
  background-color: white;
  border: solid, black, 2px;
  border-radius: 10px;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
  &:hover {
    box-shadow: 0px 0px 4px 2px white;
    background-color: #ededed;
  }
}
#valaszok {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: calc(29vh + 45px);
  gap: 50px;
  padding: 20px 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  #valaszok {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .valasz {
    padding: 16px;
    font-size: 16px;
  }
}

#eredmeny>main {
  background-color: rgb(130, 130, 238);
  p {
    font-size: 30px;
  }
}

span {
  color: transparent;
  background: linear-gradient(65deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
}



select {
  width: 280px;
  font-size: 18px;
  border-radius: 8px;
  padding: 6px;
  color-scheme: light;
}

label {
  font-size: 18px;
  font-family: sans-serif;
}

.hidden {
  display: none !important;
}

#szamolo {
  text-align: right;
  width: 100%;
  margin: 20px 80px -100px 0;
  font-size: 20px;
}