body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kartya {
  width: 80vw;
  height: 65vh;
  background-color: #12c4e4;
  text-align: center;
  font-weight: bold;
  color: black;
  border: solid, black, 3px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 6px 0px 0px black;
}

h1 {
  font-size: clamp(38px, 5vw, 48px);
  & a {
    color: transparent;
    text-decoration: none;
        background: linear-gradient(60deg, black 70%, #707070 80%, black 90%);
        background-clip: text;
        background-position: 60% 0%;
        background-size: 300% 100%;
        animation-name: glow;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0,.6,0,1);
        animation-delay: 2s;
  }
}
@keyframes glow {
  from {background-position-x:0%;}
  to {background-position-x: 200%;}
}

@media screen and (width < 530px) {
  h1 a {
    display: block;
  }
}

#start{
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  width: 160px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 70px;
  user-select: none;
  transition: .4s;
}
#start:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 16px 14px #ffffff7a;
}