* {
  cursor: url('https://cdn.cursors-4u.net/css-previews/animated-blue-pencil-ef95ca17-css.webp') 0 0, auto !important;
}
body {
  background-color: black;
  margin: 0;
  cursor: none;
  cursor: url("kurzor/Miku_Cursor_1.cur"), auto;
}
h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline solid black;
  font-size: 42px;
  background-color: #00000055;
  padding: 20px;
}
h1 a {
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  height: 100vh;
  gap: 40px;
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kerdes {
  background-color: white;
  width: 90vw;
  height: 35vh;
  margin: auto;
  border: solid, black, 2px;
  border-radius: 15px;
  margin-top: 25px;
  font-weight: bold;
}
.valasz {
  background-color: white;
  border: solid, black, 2px;
  border-radius: 10px;
  width: 25vw;
  height: 12vh;
  text-align: center;
  transition: 0.1s linear;
  &:hover {
    width: calc(25vw + 35px);
    height: calc(12vh + 35px);
    & p {
      font-size: 28px;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.valasz p {
  transition: 0.1s linear;
}
.valaszok {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: calc(29vh + 45px);
  gap: 30px;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .valaszok {
    grid-template-columns: 1fr;
  }
  .valasz {
    width: 70vw;
    &:hover {
      width: 70vw;
      height: 12vh;
    }
  }
}
#kurzor {
  width: 25px;
  height: 25px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}
body:hover #kurzor {
  opacity: 1;
}
